<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- 上述3个meta标签*必须*放在最前面，任何其他内容都*必须*跟随其后！ -->
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Mia Api Test</title>
    <script src="js/jsonFormater.js" type="text/javascript"></script>
    <link href="css/jsonFormater.css" type="text/css" rel="stylesheet"/>
    <script src="js/config.js" type="text/javascript"></script>
    <!-- Bootstrap core CSS -->
    <link href="http://cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
    <script src="http://cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="http://cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <script src="https://unpkg.com/vue/dist/vue.js"></script>

    <style>
        .gotoTopLink {
            position: fixed;
            left: 95%;
            bottom: 5%;
            display: block;
            height: 48px;
            width: 48px;
            background: url("images/r_top.png");
        }

        .gotoTopLinkButton {
            position: fixed;
            left: 95%;
            bottom: 15%;
            display: block;
            height: 48px;
            width: 48px;
            background: url("images/firebug.png");
        }

        .dropdown-menu {
            overflow-y: auto;
        }
    </style>
</head>

<body>
<div class="container">
    <!-- Static navbar -->
    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron" style="padding-top: 4px; margin-top: 20px;">
        <h2>Mia API Test</h2>
        <form id="api_base_info" class="form-inline" style="margin-bottom: 10px;">
            <div class="input-group">
                <span class="input-group-addon" id="basic-addon1"><span style="color: red">Struct Info:</span> </span>
                <input id="txt_api_url" type="text" class="form-control url" placeholder="struct name" autocomplete="off"
                       aria-describedby="basic-addon1" style="width: 180%"
                       :value="struct_data.api_url" v-model="struct_data.struct_name">
                <input id="txt_api_name" type="text" class="form-control url" placeholder="struct desp" autocomplete="off"
                       aria-describedby="basic-addon1" style="width: 180%"
                       :value="struct_data.api_name" v-model="struct_data.struct_desp">
            </div>

        </form>
        <!--输入参数表单-->
        <p>
            input params:&nbsp;
            <button id="btn_addKey" type="button" class="btn btn-success btn-sm" value=""> add</button>
        </p>
        <div id="params_keys">
            <form v-for="item in params" id="key_form_1" class="form-inline keyList" style="margin-top: 4px;">
                name:<input id="name_1" type="text" class="form-control kk" placeholder="key"
                            aria-describedby="basic-addon1"
                            :value="item.name" v-model="item.name">
                &nbsp;required:
                    <input name="my-checkbox" type="checkbox" v-model="item.is_required.state" v-on:click="alocked(item.is_required.state)" :checked="item.is_required.state" />


                &nbsp;type:<input id="type_1" type="text" class="form-control vv" placeholder="value" style="width: 100px;"
                            aria-describedby="basic-addon1"
                            :value="item.type" v-model="item.type">
                &nbsp;is array:
                <input type="checkbox" v-model="item.is_array.state" v-on:click="alocked(item.is_array.state)" :checked="item.is_array.state" />

                &nbsp;desp:<input id="desp_1" type="text" class="form-control vv" placeholder="value"
                            aria-describedby="basic-addon1" v-model="item.desp"
                            :value="item.desp">
                <button :id="item.id" type="button" class="btn btn-sm btn-danger" v-on:click="removeKey(item.id)">
                    remove
                </button>


            </form>
        </div>




        <p>
            <a id="btnSave" style="margin-top: 10px;" class="btn btn-lg btn-primary" href="javascript:void(0);"
               role="button">Call
                API &raquo;</a>
        </p>


        <div id="sp_result_div" class="panel panel-info">
            <div id="tblData"></div>
            <div id="sp_result_div_title" class="panel-heading">API Result</div>
            <div id="sp_result" class="panel-body" style="word-break: break-all;word-wrap: break-word;">
                No reuslt
            </div>
        </div>
    </div>


</div> <!-- /container -->

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="http://cdn.bootcss.com/jquery/1.11.3/jquery.min.js"></script>
<script src="http://cdn.bootcss.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
<script src="js/bootstrap.autocomplete.js"></script>
<script src="js/db.js"></script>
<script src="struct.js"></script>
</body>
</html>
